:root {
  --color-black: hsl(0, 0%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(240, 100%, 67%);
  --color-light-blue: hsl(240, 100%, 83%);
  --color-dark-blue: hsl(240, 54%, 25%);
  --color-light-gray: hsl(0, 0%, 86%);
}