div.profile {
  > div.profile-view-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: var(--color-light-gray);
    > p {
      font-weight: bold;
    }
  }
  > div.profile-view-content-header {
    margin-top: -60px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    > img.user-profile-display {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 4px solid var(--color-blue);
    }
    > div.profile-details-header-wrapper {

      > div.profile-stats-wrapper {
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: center;
        gap: 1em;
        > div.profile-stats-details-wrapper {
          width: fit-content;
          margin-right: auto;
          margin-left: auto;
          margin-top: 1em;
          > h4.profile-stats-title {
            color: inherit;
            font-family: inherit;
          }
          > p.profile-stats-value {
            color: inherit;
            font-family: inherit;
          }
        }
      }
    }
  }
}

div.active-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}